**Use elections.csv file**

Here in this notebook you will practise how to apply conditions on tabular data.

**Q1:**

Extract the data for the rows where the "%" column is greater than 50 from elections DataFrame.

In [63]:
import pandas as pd
df=pd.read_csv("elections.csv")
df[df['%']>50]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
8,1836,Martin Van Buren,Democratic,763291,win,52.272472
11,1840,William Henry Harrison,Whig,1275583,win,53.051213
13,1844,James Polk,Democratic,1339570,win,50.749477
17,1852,Franklin Pierce,Democratic,1605943,win,51.013168
27,1864,Abraham Lincoln,National Union,2211317,win,54.951512
30,1868,Ulysses Grant,Republican,3013790,win,52.665305
32,1872,Ulysses Grant,Republican,3597439,win,55.928594
34,1876,Samuel J. Tilden,Democratic,4288546,loss,51.528376
53,1896,William McKinley,Republican,7112138,win,51.213817
56,1900,William McKinley,Republican,7228864,win,52.342640
60,1904,Theodore Roosevelt,Republican,7630557,win,56.562787
65,1908,William Taft,Republican,7678335,win,52.013300
79,1920,Warren Harding,Republican,16144093,win,60.574501
80,1924,Calvin Coolidge,Republican,15723789,win,54.329113
84,1928,Herbert Hoover,Republican,21427123,win,58.368524
86,1932,Franklin Roosevelt,Democratic,22821277,win,57.672125
91,1936,Franklin Roosevelt,Democratic,27752648,win,60.978107
94,1940,Franklin Roosevelt,Democratic,27313945,win,54.871202
97,1944,Franklin Roosevelt,Democratic,25612916,win,53.773801
106,1952,Dwight Eisenhower,Republican,34075529,win,55.325173
109,1956,Dwight Eisenhower,Republican,35579180,win,57.650654
111,1960,John Kennedy,Democratic,34220984,win,50.082561
114,1964,Lyndon Johnson,Democratic,43127041,win,61.344703
120,1972,Richard Nixon,Republican,47168710,win,60.907806
123,1976,Jimmy Carter,Democratic,40831881,win,50.271900
131,1980,Ronald Reagan,Republican,43903230,win,50.897944
133,1984,Ronald Reagan,Republican,54455472,win,59.023326
135,1988,George H. W. Bush,Republican,48886597,win,53.518845
157,2004,George W. Bush,Republican,62040610,win,50.771824
162,2008,Barack Obama,Democratic,69498516,win,53.023510
168,2012,Barack Obama,Democratic,65915795,win,51.258484
178,2020,Joseph Biden,Democratic,81268924,win,51.311515

**Q2:**

Retrieve the data for the last three rows and last three columns in elections DataFrame.

In [62]:
df.loc[[179,180,181],["Popular vote","Result","%"]]
df.iloc[-3:,-3:]

     Popular vote Result          %
179      74216154   loss  46.858542
180       1865724   loss   1.177979
181        405035   loss   0.255731

**Q3:**

Extract the data for the rows where the "Year" column is between 2000 and 2018 (inclusive) and the "%" column is greater than 50% from elections DataFrame.

In [42]:
df[ (df["Year"]>2000) & (df["Year"]<=2018) & (df["%"]>50) ]

     Year       Candidate       Party  Popular vote Result          %
157  2004  George W. Bush  Republican      62040610    win  50.771824
162  2008    Barack Obama  Democratic      69498516    win  53.023510
168  2012    Barack Obama  Democratic      65915795    win  51.258484

**Q4:**

Retrieve the data for the first three rows and columns with index positions 1, 3, and 5 in elections DataFrame.

In [44]:
df.iloc[:4,[1,3,5]]

           Candidate  Popular vote          %
0     Andrew Jackson        151271  57.210122
1  John Quincy Adams        113142  42.789878
2     Andrew Jackson        642806  56.203927
3  John Quincy Adams        500897  43.796073

**Q5:**

Retrieve the data for every alternate row starting from the second row, and every alternate column starting from the third column, in the DataFrame.

In [66]:

df.iloc[2::2,3::2]

     Popular vote          %
2          642806  56.203927
4          702735  54.574789
6          100715   7.821583
8          763291  52.272472
10        1128854  46.948787
..            ...        ...
172        203091   0.149640
174        732273   0.539546
176      65853514  48.521539
178      81268924  51.311515
180       1865724   1.177979

[90 rows x 2 columns]

**Q6:**

Select the results of a particular party from year 1988 to 2020 where the % win is greater than 50%.

In [68]:
df[ (df["Party"]=="Democratic") & (df["Year"]>1988) & (df["Year"]<=2020) & (df["%"]>50)]

     Year     Candidate       Party  Popular vote Result          %
162  2008  Barack Obama  Democratic      69498516    win  53.023510
168  2012  Barack Obama  Democratic      65915795    win  51.258484
178  2020  Joseph Biden  Democratic      81268924    win  51.311515