In [48]:
import pandas as pd # A general purpose Python library for data analysis
import numpy as np # A library for scientific computing in Python (e.g., provides high-performance multi-dimensional array objects and operations)

import matplotlib.pyplot as plt # a plotting library for Python and NumPy (readily customizable)
import seaborn as sns # Another plotting library for Python (fewer syntax, excellent default themes, behind the scenes, it uses matplotlib)
import time

## Knowledge Stream Summer 2023

In this notebook, we will learn about the key data structures provided by the Pandas library: **Data Frames, Series, and Indices**.

In addition, we will learn about the following operations:
* How to access data contained in these structures?
* How to read files (e.g., csv, xlsx, sql) to create these structures?
* How to carry out different data manipulation tasks using these structures?

`Dataset`: US elections with information about candidates, their party, votes won, year of election and the result.

## Reading in Data Frames from Files

Pandas has a number of useful file reading tools. You can see them enumerated by typing **"pd.re"** and pressing `tab`. We'll be using **read_csv** today. Note that these file reading functions do all the *data parsing* for you, which is very useful.

Before loading a file into a dataframe, let's first take a look at the **elections.csv** file

In [49]:
df=pd.read_csv("elections.csv")

We can use the **head command** to show only a few rows of a dataframe.

# heading
## heading2

In [50]:
# Answer Here
df.head(2)

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878

There is also a **tail command**.

In [51]:
#Answer Here
df.tail(2)

     Year       Candidate        Party  Popular vote Result         %
180  2020    Jo Jorgensen  Libertarian       1865724   loss  1.177979
181  2020  Howard Hawkins        Green        405035   loss  0.255731

The `read_csv` command lets us specify a **column to use an index**. For example, we could have used __Year__ as the index.

In [52]:
#Answer Here
df=pd.read_csv("elections.csv",index_col="Year")
df.head(1)

           Candidate                  Party  Popular vote Result          %
Year
1824  Andrew Jackson  Democratic-Republican        151271   loss  57.210122

Alternately, we could have used the **set_index** commmand on the dataframe.

In [20]:
#Answer Here
df.set_index("Year").head(1)

           Candidate                  Party  Popular vote Result          %
Year
1824  Andrew Jackson  Democratic-Republican        151271   loss  57.210122

# Caution:
The **set_index command** (along with all other data frame methods) **does not modify the dataframe**, i.e., the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe (e.g., `elections.set_index("Party",inplace=True)`).

## Duplicate Columns?
By contast, column names MUST be unique. For example, if we try to read in a file for which column names are not unique, Pandas will automatically any duplicates. Load duplicate_columns.csv

In [53]:
#Answer Here
df.columns

Index(['Candidate', 'Party', 'Popular vote', 'Result', '%'], dtype='object')

## The [ ] Operator & Indexing

The DataFrame class has an indexing operator **[ ]** (also known as the 'brack' operator) that lets you do a variety of different things. If your provide a String to the **[ ]** operator, you get back a ***Series*** corresponding to the requested label.

1.Use **[ ]** to display different columns

2.Use List retrive multiple columns

In [54]:
# Answer Here
df["%"].head(1)

Year
1824    57.210122
Name: %, dtype: float64

The **[ ]** operator also accepts a list of strings. In this case, you get back a **DataFrame** corresponding to the requested strings.

In [55]:
# Answer Here
df[["Party","%"]].head(2)

                      Party          %
Year
1824  Democratic-Republican  57.210122
1824  Democratic-Republican  42.789878

A list of one label also returns a DataFrame. This can be handy if you want your results as a DataFrame, not a series.

Note that we can also use the **to_frame** method to turn a Series into a DataFrame.

Extract one col name "Candidates" from DataFrame it will be a series. Convert series into a DataFrame.

In [56]:
# Answer Here
dff=df["Candidate"].head(1)
dff

Year
1824    Andrew Jackson
Name: Candidate, dtype: object

In [57]:
# Answer Here
dfff=pd.DataFrame(dff)
dfff

           Candidate
Year
1824  Andrew Jackson

### Row Indexing

The `[]` operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

Extract few rows from DataFrame

In [58]:
# Answer Here
df[4:7]

           Candidate                Party  Popular vote Result          %
Year
1832  Andrew Jackson           Democratic        702735    win  54.574789
1832      Henry Clay  National Republican        484205   loss  37.603628
1832    William Wirt         Anti-Masonic        100715   loss   7.821583

If you provide a single argument to the `[]` operator, it tries to use it as a name. This is true even if the argument passed to **[ ]** is an integer.

In [59]:
#elections[0] #this does not work, try uncommenting this to see it fail in action, woo
df["%"].head(1)

Year
1824    57.210122
Name: %, dtype: float64

The following cells allow you to **test your understanding**. Let's go over the summary of what we have learnt (see slides).

# Creating DataFrames
Create DataFrame using List and Columns name.

In [60]:
# Answer Here
df1=pd.DataFrame([["Daud",6529,"BSSE"],["Wasif",6552,"BSCS"],["Tayyab",7860,"BSIT"]],columns=["Name","AG NO","Degree"])
df1

     Name  AG NO Degree
0    Daud   6529   BSSE
1   Wasif   6552   BSCS
2  Tayyab   7860   BSIT

Creating DataFrames using **Dictionary**.

In [131]:
# Answer Here
dic=pd.DataFrame({"Name":["Daud",6529,"BSSE"],"AG NO":["Wasif",6552,"BSCS"],"Degree":["Tayyab",7860,"BSIT"]})
dic

   Name  AG NO  Degree
0  Daud  Wasif  Tayyab
1  6529   6552    7860
2  BSSE   BSCS    BSIT

## Filtering via Boolean Array Selection

The `[]` operator also supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows. The result is a **filtered version of the data frame**, where **only rows corresponding to True appear**.

In [62]:
elections=pd.read_csv("elections.csv")
df=elections.head(23)

elect= [False, False, False, False, False,
          False, False, True, False, False,
          True, False, False, False, True,
          False, False, False, False, False,
          False, True, False]

df[elect]

    Year          Candidate       Party  Popular vote Result          %
7   1836  Hugh Lawson White        Whig        146109   loss  10.005985
10  1840   Martin Van Buren  Democratic       1128854   loss  46.948787
14  1848         Lewis Cass  Democratic       1223460   loss  42.552229
21  1856    John C. Frémont  Republican       1342345   loss  33.139919

One very common task in Data Science is **filtering**. Boolean Array Selection is one way to achieve this in Pandas. We start by observing that **logical operators** like the equality operator can be applied to **Pandas Series data** to generate a **Boolean Array**.

Compare the 'Result' column to the String 'win' and Show results

In [129]:
#Answer Here
elections["Result"]=="win"

0      False
1       True
2       True
3      False
4       True
       ...
177    False
178     True
179    False
180    False
181    False
Name: Result, Length: 182, dtype: bool

Compare the 'Party' column to the String 'Democratic' and Show results

In [130]:
#Answer Here
elections["Party"]=="Democratic"

0      False
1      False
2       True
3      False
4       True
       ...
177    False
178     True
179    False
180    False
181    False
Name: Party, Length: 182, dtype: bool

The output of the logical operator applied to the Series is **another Series with the same name and index, but of datatype boolean**.

These boolean Series can be used as an argument to the `[]` operator.

Creates  DataFrame of all election winners since 1980.

In [65]:
#Answer Here
elections[(elections["Result"]=="win") & (elections["Year"]<=1980) ].head(2)

,Year,Candidate,Party,Popular vote,Result,%
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927

Above, we've assigned the result of the logical operator to a new variable called `iswin`. This is uncommon. Usually, the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

Show all 'win' results between 1980 to 2000

In [66]:
#Answer Here
elections[(elections["Result"]=="win") & (elections["Year"]>=1980) & (elections["Year"]<=2000) ].head(1)

     Year      Candidate       Party  Popular vote Result          %
131  1980  Ronald Reagan  Republican      43903230    win  50.897944

Show all 'Loss' results of Independent party

In [69]:
# Answer Here
elections[(elections["Result"]=="loss") & (elections["Party"]=="Independent")]

     Year         Candidate        Party  Popular vote Result          %
121  1976   Eugene McCarthy  Independent        740460   loss   0.911649
130  1980  John B. Anderson  Independent       5719850   loss   6.631143
143  1992        Ross Perot  Independent      19743821   loss  18.956298
161  2004       Ralph Nader  Independent        465151   loss   0.380663
167  2008       Ralph Nader  Independent        739034   loss   0.563842
174  2016     Evan McMullin  Independent        732273   loss   0.539546

We can select multiple criteria by creating multiple boolean Series and combining them using the `&` operator.

Show results of win with percentage less than 50%

In [72]:
# Answer Here
elections[elections["%"]<=50].head(2)

,Year,Candidate,Party,Popular vote,Result,%
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073

Show all 'win' results between 1980 to 2000

In [75]:
# Answer Here
elections[(elections["Year"]>1980) & (elections["Year"]<=2000)].head(2)

     Year       Candidate        Party  Popular vote Result          %
132  1984  David Bergland  Libertarian        228111   loss   0.247245
133  1984   Ronald Reagan   Republican      54455472    win  59.023326

## Loc and iLoc

Show 5 enteries from start

In [76]:
# Answer Here
df.loc[:4]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789

You can provide `.loc` a list of row labels [0-5] and column labels ['Candidate','Party', 'Year'] as input to return a dataframe

In [77]:
#Answer Here
df.loc[:4,['Candidate','Party', 'Year']]

           Candidate                  Party  Year
0     Andrew Jackson  Democratic-Republican  1824
1  John Quincy Adams  Democratic-Republican  1824
2     Andrew Jackson             Democratic  1828
3  John Quincy Adams    National Republican  1828
4     Andrew Jackson             Democratic  1832

Loc also supports **slicing** (for all types, including numeric and string labels!). Note that the slicing for loc is **inclusive**, even for numeric slices.

Use Slicing on Rows and Columns

In [81]:
# Answer Here
df.loc[2:6,"Candidate":"Result"]

           Candidate                Party  Popular vote Result
2     Andrew Jackson           Democratic        642806    win
3  John Quincy Adams  National Republican        500897   loss
4     Andrew Jackson           Democratic        702735    win
5         Henry Clay  National Republican        484205   loss
6       William Wirt         Anti-Masonic        100715   loss

If we provide only a **single label** for the column argument, we get back a **Series**.

In [87]:
# Answer Here
df.loc[:,"Party"]

0     Democratic-Republican
1     Democratic-Republican
2                Democratic
3       National Republican
4                Democratic
5       National Republican
6              Anti-Masonic
7                      Whig
8                Democratic
9                      Whig
10               Democratic
11                     Whig
12                     Whig
13               Democratic
14               Democratic
15                Free Soil
16                     Whig
17               Democratic
18                Free Soil
19                     Whig
20               Democratic
21               Republican
22                 American
Name: Party, dtype: object

If we want a data frame instead and don't want to use to_frame, we can provide a **list** containing the column name.

In [88]:
# Answer Here
df.loc[:,["Party"]]

                    Party
0   Democratic-Republican
1   Democratic-Republican
2              Democratic
3     National Republican
4              Democratic
5     National Republican
6            Anti-Masonic
7                    Whig
8              Democratic
9                    Whig
10             Democratic
11                   Whig
12                   Whig
13             Democratic
14             Democratic
15              Free Soil
16                   Whig
17             Democratic
18              Free Soil
19                   Whig
20             Democratic
21             Republican
22               American

If we give only one row but many column labels, we'll get back a **Series** corresponding to a row of the table. This new Series has a neat index, where **each entry is the name of the column** that the data came from.

In [90]:
# Answer Here
df.loc[2,["Party","%","Candidate"]]

Party            Democratic
%                 56.203927
Candidate    Andrew Jackson
Name: 2, dtype: object

In [ ]:
# Answer Here

If we omit the column argument altogether, the **default behavior is to retrieve all columns**.

In [91]:
# Answer Here
df.loc[3]

Year                           1828
Candidate         John Quincy Adams
Party           National Republican
Popular vote                 500897
Result                         loss
%                         43.796073
Name: 3, dtype: object

Specify Rows and Columns as List to retrive specific enteries

In [92]:
# Answer Here
df.loc[[2,4,6],["Party","Candidate","%"]]

          Party       Candidate          %
2    Democratic  Andrew Jackson  56.203927
4    Democratic  Andrew Jackson  54.574789
6  Anti-Masonic    William Wirt   7.821583

Boolean Series are also boolean arrays, so we can use the Boolean Array Selection from earlier using loc as well.

In [96]:
# Answer Here
oi=elections["Party"]
df.loc[:]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
5,1832,Henry Clay,National Republican,484205,loss,37.603628
6,1832,William Wirt,Anti-Masonic,100715,loss,7.821583
7,1836,Hugh Lawson White,Whig,146109,loss,10.005985
8,1836,Martin Van Buren,Democratic,763291,win,52.272472
9,1836,William Henry Harrison,Whig,550816,loss,37.721543
10,1840,Martin Van Buren,Democratic,1128854,loss,46.948787
11,1840,William Henry Harrison,Whig,1275583,win,53.051213
12,1844,Henry Clay,Whig,1300004,loss,49.250523
13,1844,James Polk,Democratic,1339570,win,50.749477
14,1848,Lewis Cass,Democratic,1223460,loss,42.552229
15,1848,Martin Van Buren,Free Soil,291501,loss,10.138474
16,1848,Zachary Taylor,Whig,1360235,win,47.309296
17,1852,Franklin Pierce,Democratic,1605943,win,51.013168
18,1852,John P. Hale,Free Soil,155210,loss,4.930283
19,1852,Winfield Scott,Whig,1386942,loss,44.056548
20,1856,James Buchanan,Democratic,1835140,win,45.306080
21,1856,John C. Frémont,Republican,1342345,loss,33.139919
22,1856,Millard Fillmore,American,873053,loss,21.554001

## String-labeled Rows

Let's do a quick example using data with string-labeled rows instead of integer labeled rows, just to make sure we're really understanding loc.

Use mottos.csv file

In [97]:
# Answer Here
df1=pd.read_csv("mottos.csv")
df1.head(3)

,State,Motto,Translation,Language,Date Adopted
0,Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
1,Alaska,North to the future,—,English,1967
2,Arizona,Ditat Deus,God enriches,Latin,1863

Extract slice, can be specified using slice notation, even if the rows have string labels instead of integer labels.

### iloc

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. 'iloc' slicing is **exclusive**, just like standard Python slicing of numerical values.

Use iloc to extract first 3 rows and columns from elections DataFrame

In [98]:
#Answer Here
df.iloc[:3,:3]

   Year          Candidate                  Party
0  1824     Andrew Jackson  Democratic-Republican
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic

We will use both `loc` and `iloc` in the course. `loc` is generally preferred for a number of reasons, for example:

1. It is harder to make mistakes since you have to literally write out what you want to get.
2. Code is easier to read, because the reader doesn't have to know e.g., what column #17 represents.
3. It is robust against permutations of the data, e.g. the social security administration switches the order of two columns.

However, iloc is sometimes more convenient. We'll provide examples of when iloc is the superior choice.

## Handy Properties and Utility Functions for Series and DataFrames

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with. For example:

In [101]:
mottos = pd.read_csv("mottos.csv")

In [105]:
# Answer Here
mottos.head(2)

,State,Motto,Translation,Language,Date Adopted
0,Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
1,Alaska,North to the future,—,English,1967

Size of DataFrame

In [103]:
# Answer Here
mottos.size

250

The fact that the size is 250 means our data file is relatively small, with only 250 total entries.

Shape of DataFrame

In [104]:
# Answer Here
mottos.shape

(50, 5)

Use describe function and extract the meaningful information from DataFrame

In [107]:
# Answer Here
mottos.describe()

,State,Motto,Translation,Language,Date Adopted
count,50,50,49,50,50
unique,50,50,30,8,47
top,Alabama,Audemus jura nostra defendere,—,Latin,1893
freq,1,1,20,23,2

Above, we see a quick summary of all the data. For example, the most common language for mottos is Latin, which covers 23 different states. Does anything else seem surprising?

We can get a direct reference to the index using .index.

In [127]:
# Answer Here
mottos.index

RangeIndex(start=0, stop=50, step=1)

In [111]:
mottos.head(2)

,State,Motto,Translation,Language,Date Adopted
0,Alabama,Audemus jura nostra defendere,We dare defend our rights!,Latin,1923
1,Alaska,North to the future,—,English,1967

It turns out the columns also have an Index. We can access this index by using `.columns`.

In [112]:
# Answer Here
mottos.columns

Index(['State', 'Motto', 'Translation', 'Language', 'Date Adopted'], dtype='object')

## Sorting and Value Counts

There are also a ton of useful utility methods we can use with Data Frames and Series. For example, we can create a copy of a data frame sorted by a specific column using `sort_values`.

In [120]:
# Answer Here
mottos.sort_values(by=["Language"]).head(2)

         State          Motto Translation        Language Date Adopted
46  Washington  Al-ki or Alki   By and by  Chinook Jargon            —
49     Wyoming   Equal Rights           —         English         1893

As mentioned before, all Data Frame methods return a copy and do **not** modify the original data structure, unless you set inplace to True.

If we want to sort in reverse order, we can set `ascending=False`.

In [121]:
elections.sort_values('%', ascending=False)

     Year           Candidate         Party  Popular vote Result          %
114  1964      Lyndon Johnson    Democratic      43127041    win  61.344703
91   1936  Franklin Roosevelt    Democratic      27752648    win  60.978107
120  1972       Richard Nixon    Republican      47168710    win  60.907806
79   1920      Warren Harding    Republican      16144093    win  60.574501
133  1984       Ronald Reagan    Republican      54455472    win  59.023326
..    ...                 ...           ...           ...    ...        ...
165  2008    Cynthia McKinney         Green        161797   loss   0.123442
148  1996        John Hagelin   Natural Law        113670   loss   0.118219
160  2004    Michael Peroutka  Constitution        143630   loss   0.117542
141  1992            Bo Gritz      Populist        106152   loss   0.101918
156  2004          David Cobb         Green        119859   loss   0.098088

[182 rows x 6 columns]

We can also use `sort_values` on Series objects.

In [122]:
mottos['Language'].sort_values().head(50)

46    Chinook Jargon
49           English
29           English
28           English
27           English
26           English
48           English
37           English
38           English
40           English
17           English
34           English
42           English
14           English
41           English
12           English
1            English
13           English
8            English
7            English
9            English
43           English
22            French
4              Greek
10          Hawaiian
19           Italian
39             Latin
44             Latin
36             Latin
45             Latin
47             Latin
35             Latin
33             Latin
0              Latin
31             Latin
30             Latin
23             Latin
21             Latin
20             Latin
18             Latin
16             Latin
15             Latin
11             Latin
6              Latin
5              Latin
3              Latin
2              Latin
32             Latin
24             Latin
25           Spanish
Name: Language, dtype: object

For Series, the `value_counts` method is often quite handy.

In [123]:
mottos['Language'].value_counts()

Language
Latin             23
English           21
Greek              1
Hawaiian           1
Italian            1
French             1
Spanish            1
Chinook Jargon     1
Name: count, dtype: int64

Also commonly used is the `unique` method, which returns **all unique values** as a numpy array.

In [124]:
mottos['Language'].unique()

array(['Latin', 'English', 'Greek', 'Hawaiian', 'Italian', 'French',
       'Spanish', 'Chinook Jargon'], dtype=object)

In [126]:
def fiba(n):
    if n < 2:
        return n
    else:
        return fiba(n-1) + fiba(n-2)



fiba(5)

5

# Thank you!